@{
    Layout = null;
}

<!-- Layout for normal website pages -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- for-mobile-apps -->
    @Html.Partial("_MetaTagsPartial")

    <!-- StyleSheets for all pages except iframes-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/Content/imagehover.min.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" media="all">
    <link href="~/Content/ihover.min.css" rel="stylesheet" />
    <link href="~/Content/imagehover.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/slicebox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/modern-set2.css" rel="stylesheet" />
    <link href="~/Content/modern-set1.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/tour.css" rel="stylesheet" />
    <link href="~/Content/slideshow.css" rel="stylesheet" />

    <!-- js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDWQ7G4nurKzRVwhGcyoSF0FlynUpjlPvE&extension=.js'></script>
    <script src="~/Scripts/map-custom.js"></script>
    <script src="~/Scripts/snap.svg-min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/sliderFx.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.slicebox.js"></script>
    <script src="~/Scripts/masonry.min.js"></script>
    <script src="~/Scripts/jquery.hoverdir.js"></script>
    <script src="~/Scripts/jGravity-min.js"></script>
    <script src="~/Scripts/jquery.ripples.js"></script>


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Domine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <!-- The normal header -->
    @Html.Partial("_Header")

    <!-- the page being displayed -->
    @RenderBody()

    <!-- footer -->
    @Html.Partial("_FooterPartial")

    <!-- scripts -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-slider.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

    <!-- initialize wow.js -->
    <script type="text/javascript">
        wow = new WOW(
                  {
                      boxClass: 'wow',      // default
                      animateClass: 'animated', // default
                      mobile: false,       // default
                  }
                )
        wow.init();
    </script>
    <script src="~/Scripts/common-scripts.js"></script>
</body>

</html>