    <!--20161006 SA premium-tour overlay-->
<div id="premium-tour-overlay" class="tour-overlay">
    <!--20161006 SA close button-->
    <i class="fa fa-arrow-left fa-inverse close-parent"></i>
    <!--20161006 SA sidebar that navigates to different sections of the tour-->
    <div class="options-sidebar">
        <div class="options-wrapper">
            <ul class="tour-options">
                <li data-related-item="premium-elements" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Gravity 0</a>
                </li>
                <li data-related-item="premium-sliders" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Touch</a>
                </li>
                <li data-related-item="premium-gallery" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Effects</a>
                </li>
                <li data-related-item="premium-more" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>More</a>
                </li>
            </ul>
        </div>
    </div>
    <!--20161006 SA container that holds all tour sections and elements-->
    <div class="presentation-container">
        <!--20161006 SA section ids indicate which section is for what-->
        <section id="premium-elements" class="presentation active" data-bg-color="#99bcbc">
            <div class="gravity-zero-container wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
                <div id="gravity-zero">
                    <!--20161006 SA small divs have been added because when there is no gravity the gravityHeader will break into pieces-->
                    <!--20161006 SA ignore me classes added so that the script will ignore those elements when applying zero gravity-->
                    <div class="gravityHeader ignoreMe">
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                        <div class="headPiece">&nbsp;</div>
                    </div>
                    <div class="logoBar">
                        <div class="barPiece"></div>
                        <div class="barPiece"></div>
                        <div class="barPiece">
                            <h1 class="ignoreMe">Looks like an <strong class="ignoreMe">ORDINARY</strong> website?</h1>
                        </div>
                        <div class="barPiece"></div>
                        <div class="barPiece"></div>
                    </div>
                    <div class="goBtnCentre ignoreMe">
                        <div class="goButton jGravity">
                            <h2 class="ignoreMe">Click to see the magic!</h2>
                        </div>
                    </div>
                    <div class="duckCentre ignoreMe">
                        <div class="duckInner ignoreMe">
                            <div class="duck"><img class="ignoreMe" src="~/Images/thumbs/rain.jpg" alt=" white dandelion" /></div>
                            <div class="duck"><img class="ignoreMe" src="~/Images/thumbs/sun.jpg" alt="sunset on a wharf" /></div>
                            <div class="duck"><img class="ignoreMe" src="~/Images/thumbs/tree.jpg" alt="a set of tress in black and white" /></div>
                        </div>
                    </div>
                    <div class="writing-wrapper">
                        <p>You can drag and play araound with all the elements. </p>
                        <p>  See what we mean when we say we can make your website come alive?</p>
                        <p>Everything depends on what you want. For example these writings are not falling down like everything else because we made them this way.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="premium-sliders" class="presentation" data-bg-color="black">
            <section id="ripple-element" class="ripple">
                <header>
                    <h1>Experience the wonders of beatiful web development with our Premium package.</h1>
                </header>
            </section>
        </section>
        <section id="premium-gallery" class="presentation" data-bg-color="#FA715E">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-xs-12">
                        <!--20161007 SA revoling text effect-->
                        <div class='revolving-content'>
                            <div class='revolving-visible'>
                                <p>
                                    Effects:
                                </p>
                                <ul>
                                    <li>Everything in BASIC package !</li>
                                    <li>Everything in STARTUP package !</li>
                                    <li>Everything YOU can imagine !</li>
                                    <li>Enjoy!!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xs-12">
                        <div class="row">
                            <!--20161008 SA shocase items with two thumbs with hover effect and 1 origami style star-->
                            <!--20161008 SA svg used to clip path images and colors-->
                            <div class="col-xs-6">
                                <div class='torch-item top-gap'>
                                    <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                                        <defs>
                                            <clipPath id='clip-0'>
                                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                                            </clipPath>
                                        </defs>
                                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                                            Hover over me!
                                        </text>
                                        <g clip-path='url(#clip-0)'>

                                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='~/Images/feature/premium/bunny.jpeg'></image>
                                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                                Hello
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class='torch-item top-gap'>
                                    <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                                        <defs>
                                            <clipPath id='clip-1'>
                                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                                            </clipPath>
                                        </defs>
                                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                                            Peekaboo!!!
                                        </text>
                                        <g clip-path='url(#clip-1)'>
                                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='~/Images/feature/premium/cat.jpeg'></image>
                                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                                I'm here
                                            </text>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="star-container">
                                    <div class="origami-style-star">
                                        <p>
                                            We can give you interactive shapes like these that will let your customers or colleagues feel like they are not just browsing through a website but experiencing something unique.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--20161006 SA section leads to CYO(Create your own) page-->
        <section id="premium-more" class="more presentation" data-bg-color="#EFF0F1">
            <div class="container">
                <div class="wow zoomIn" data-wow-delay=".5s">
                    <h1>Like what we do with websites but would love to come up with your own design?</h1>
                    <h1>Try our <a href="@Url.Action("CYO", "Site")">CYO page</a> to create layouts and add web elements. </h1>
                    <h1>Then send us the design and we can discuss later which package it might fall under and create the website exactly how you wanted.</h1>
                </div>
            </div>
        </section>
    </div>

</div>

