    <!--20161005 SA startup-tour overlay-->
<div id="startup-tour-overlay" class="tour-overlay">
    <!--20161005 SA close button-->
    <i class="fa fa-arrow-left fa-inverse close-parent"></i>
    <!--20161005 SA sidebar that navigates to different sections of the tour-->
    <div class="options-sidebar">
        <div class="options-wrapper">
            <ul class="tour-options">
                <li data-related-item="startup-elements" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Elements</a>
                </li>
                <li data-related-item="startup-sliders" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Sliders</a>
                </li>
                <li data-related-item="startup-gallery" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>Gallery</a>
                </li>
                <li data-related-item="startup-more" class="hvr-wobble-bottom hvr-sweep-to-bottom">
                    <a>More</a>
                </li>
            </ul>
        </div>
    </div>
    <!--20161006 SA container that holds all tour sections and elements-->
    <div class="presentation-container">
        <!--20161005 SA section ids indicate which section is for what-->
        <section id="startup-elements" class="presentation active" data-bg-color="#99bcbc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-11">
                        <div class="startup-elements-content">
                            <!--20161005 SA different sized columns to give a brickwall effect with 36 icons-->
                            <div class="container-fluid icon-fonts wow tada" data-wow-delay="11.3s" data-wow-iteration="2">
                                <div class="row">
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out hvr-rectangle-out wow fadeInLeftBig" data-wow-delay="2.3s">
                                        <img src="~/Images/feature/basic/joystick.png" alt="Joystick Icon" />
                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="2.5s">
                                        <img src="~/Images/feature/startup/11.png" alt="chat icon" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow bounceInRight" data-wow-delay="3s">
                                        <img src="~/Images/feature/startup/f5.png" alt="font image" />
                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="3.6s">
                                        <img src="~/Images/feature/startup/1.png" alt="notes icon" />
                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="4s">
                                        <img src="~/Images/feature/startup/f1.png" alt="font image" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="4.2s">
                                        <img src="~/Images/feature/startup/chart.png" alt="chart icon" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow fadeInUpBig" data-wow-delay="2.8s">
                                        <img src="~/Images/feature/startup/credit.png" alt="credit card icon" />
                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow bounceInUp" data-wow-delay="3s">
                                        <img src="~/Images/feature/startup/2.png" alt="open envelope icon" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow rotateInUpLeft" data-wow-delay="3.3s">
                                        <img src="~/Images/feature/startup/3.png" alt="rubbish bin icon" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow zoomIn" data-wow-delay="4.5s">
                                        <img src="~/Images/feature/startup/f2.png" alt="font image" />
                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow fadeInUp" data-wow-delay="4.8s">
                                        <img src="~/Images/feature/startup/calendar.png" alt="calender icon" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow lightSpeedIn" data-wow-delay="5.2s">
                                        <img src="~/Images/feature/startup/f6.png" alt="font image" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow fadeInLeftBig" data-wow-delay="2.5s">
                                        <img src="~/Images/feature/startup/f7.png" alt="font image" />
                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="2.7s">
                                        <img src="~/Images/feature/startup/skull.png" alt="skull and crossbones icon" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow bounceInRight" data-wow-delay="3.2s">
                                        <img src="~/Images/feature/startup/switcher.png" alt="switch icon" />
                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="3.8s">
                                        <img src="~/Images/feature/startup/5.png" alt="map icon" />

                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="4.2s">
                                        <img src="~/Images/feature/startup/13.png" alt="lifeguard icon" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="4.4s">
                                        <img src="~/Images/feature/startup/document.png" alt="document icon" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInUpBig" data-wow-delay="3s">
                                        <img src="~/Images/feature/startup/cloud.png" alt="could icon" />

                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow bounceInUp" data-wow-delay="3.2s">
                                        <img src="~/Images/feature/startup/f8.png" alt="font image" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow rotateInUpLeft" data-wow-delay="3.5s">
                                        <img src="~/Images/feature/basic/laptop.png" alt="laptop icon" />
                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow zoomInUp" data-wow-delay="6.2s">
                                        <img src="~/Images/feature/startup/f3.png" alt="font-image" />

                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInUp" data-wow-delay="5s">
                                        <img src="~/Images/feature/startup/pen.png" alt="pen icon" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow lightSpeedIn" data-wow-delay="5.4s">
                                        <img src="~/Images/feature/startup/10.png" alt="diamond icon" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow fadeInLeftBig" data-wow-delay="2.7s">
                                        <img src="~/Images/feature/startup/f4.png" alt="font image" />

                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="2.9s">
                                        <img src="~/Images/feature/startup/tag.png" alt="bookmark icon" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow bounceInRight" data-wow-delay="3.4s">
                                        <img src="~/Images/feature/startup/off.png" alt="swtich at off position" />

                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="4s">
                                        <img src="~/Images/feature/startup/heart.png" alt="heart icon" />

                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow fadeInRightBig" data-wow-delay="4.4s">
                                        <img src="~/Images/feature/startup/9.png" alt="profile icon" />

                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow bounceInDown" data-wow-delay="4.6s">
                                        <img src="~/Images/feature/basic/cart.png" alt="shopping cart icon" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow fadeInUpBig" data-wow-delay="3.2s">
                                        <img src="~/Images/feature/startup/message.png" alt="message icon" />

                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow bounceInUp" data-wow-delay="3.4s">
                                        <img src="~/Images/feature/startup/f10.png" alt="font image" />

                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out  wow rotateInUpLeft" data-wow-delay="3.7s">
                                        <img src="~/Images/feature/startup/14.png" alt="briefcase icon" />
                                    </div>
                                    <div class="col-xs-2 gridForIcon hvr-rectangle-out wow zoomIn" data-wow-delay="4.9s">
                                        <img src="~/Images/feature/startup/12.png" alt="compass icon" />

                                    </div>
                                    <div class="col-xs-1 gridForIcon hvr-rectangle-out wow fadeInUp" data-wow-delay="5.2s">
                                        <img src="~/Images/feature/startup/phone.png" alt="phone icon" />
                                    </div>
                                    <div class="col-xs-3 gridForIcon hvr-rectangle-out wow lightSpeedIn" data-wow-delay="5.6s">
                                        <img src="~/Images/feature/startup/f11.png" alt="font image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--20161005 SA writing of package details-->
                    <div class="col-xs-2 hidden-xs">
                        <div class="startup-elements-sidebar">
                            <p>
                                Startup package gives you all the BASIC package elements + flat icons and unique fonts.
                            </p>
                        </div>
                        <div class="startup-elements-sidebar2">
                            <p>
                                And they are UNLIMITED!!!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="startup-sliders" class="presentation" data-bg-color="#3a426e">
            <div class="slice-wrapper" data-wow-delay="2s" id="startup-slideshow">
                <ul id="sb-slider" class="sb-slider">
                    <li>
                        <a href="#" target="_blank"><img src="~/Images/feature/startup/sl1.jpg" alt="purple flowers" /></a>
                        <div class="sb-description">
                            <h3>Advanced slides with our startup package!</h3>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="~/Images/feature/startup/sl2.jpg" alt="bokeh reflection of lights on water" /></a>
                        <div class="sb-description">
                            <h3>You have plenty more effects to choose from.</h3>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="~/Images/feature/startup/sl3.jpg" alt="top view of a forest" /></a>
                        <div class="sb-description">
                            <h3>Add your images and heading</h3>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="~/Images/feature/startup/sl4.jpg" alt="Survey image" /></a>
                        <div class="sb-description">
                            <h3>This is only an example.</h3>
                        </div>
                    </li>
                    <li>
                        <a href="#" target="_blank"><img src="~/Images/survey/s1.jpg" alt="Survey image" /></a>
                        <div class="sb-description">
                            <h3>Enjoy!</h3>
                        </div>
                    </li>
                </ul>

                <div id="nav-arrows" class="nav-arrows">
                    <a href="#">Next</a>
                    <a href="#">Previous</a>
                </div>
            </div>
        </section>
        <section id="startup-gallery" class="presentation" data-bg-color="#50454B">
            <!--20161005 SA gallery with masonry-->
            <div id="startup-gallery-grid" class="startup-gallery-grid">
                <div class="startup-gallery-grid-sizer"></div>
                <div class="startup-gallery-grid-item wow fadeInLeft" data-wow-delay=".5s">
                    <div class="grayscale">
                        <figure>
                            <img src="~/Images/feature/startup/g.jpeg" alt="water lillies floating" />
                        </figure>
                    </div>
                </div>
                <div class="startup-gallery-grid-item wow fadeInDown" data-wow-delay=".7s">
                    <figure class="effect-romeo">
                        <img src="~/Images/feature/startup/g2.jpeg" alt="bokeh reflection of lights on water" />
                        <figcaption>
                            <h2>Your <span>Title</span></h2>
                            <p>These gallery items are sleek, elegant and modern.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="startup-gallery-grid-item wow fadeInRight" data-wow-delay=".6s">
                    <figure class="effect-julia">
                        <img src="~/Images/feature/basic/g2.jpg" alt="couple hugging with flower in hand" />
                        <figcaption>
                            <h2>Topic <span>Heading</span></h2>
                            <div>
                                <p>Add any description here</p><br />
                                <p>Let us know what you want</p><br />
                                <p>We'll easily add them for you!</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="startup-gallery-grid-item wow flipInX" data-wow-delay=".8s">
                    <figure class="effect-moses">
                        <img src="~/Images/feature/startup/g3.jpeg" alt="top view of a forest" />
                        <figcaption>
                            <h2>Example <span>Heading</span></h2>
                            <p>Go wild with descriptions!</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="startup-gallery-grid-item wow flipInY" data-wow-delay=".9s">
                    <div class="da-thumbs">
                        <a href="#">
                            <img src="~/Images/feature/startup/g4.jpeg" alt="light bulb" />
                            <div><span>Look, we are direction aware</span></div>
                        </a>
                    </div>
                </div>
                <div class="startup-gallery-grid-item fadeInUp" data-wow-delay="1.2s">
                    <div class="da-thumbs">
                        <a href="#">
                            <img src="~/Images/feature/startup/g5.jpeg" alt="close up of the full moon at night" />
                            <div><span>I see you!!</span></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="startup-gallery-info">
                <h1>Get all the gallery thumbnail designs with the basic package +</h1>
                <h1>All these unelievably modern and smooth styles!</h1>
            </div>
        </section>
        <!--20161005 SA section leads to CYO(Create your own) page-->
        <section id="startup-more" class="more presentation" data-bg-color="#EFF0F1">
            <div class="container">
                <div class="wow zoomIn" data-wow-delay=".5s">
                    <h1>Like what we do with websites but would love to come up with your own design?</h1>
                    <h1>Try our <a href="@Url.Action("CYO", "Site")">CYO page</a> to create layouts and add web elements. </h1>
                    <h1>Then send us the design and we can discuss later which package it might fall under and create the website exactly how you wanted.</h1>
                </div>
            </div>
        </section>
    </div>
</div>

