.navbar-inverse {
    background-color: #c3dade;
    border-color: #c3dade;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        color: #8a8a8a;
        background-color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #494949;
    }

.jumbotron h1 {
    color: #e18989;
}

.wave {
    background-color: white;
}

    .wave::before {
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, #c3dade 13px);
    }

.bg-3 {
    background: #c3dade;
}
