<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
		<!--seo tags-->
		<title>Complex Website Example | Webmart </title>
		<meta name="description" content="Example of a website with a complex slanted layout and stacked elements that fit in perfetly together. Let us make your website for you exactly how you want it.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8" />
		<meta name="keywords" content="Web Development, Website design, Web programming, HTML, CSS, SEO marketing" />

		<!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/grid.css" />
    <link id="dark" class="themes" rel="stylesheet" type="text/css" href="css/grid-dark.css" disabled />
    <link id="light" class="themes" rel="stylesheet" type="text/css" href="css/grid-light.css" disabled />
    <link id="autumn" class="themes" rel="stylesheet" type="text/css" href="css/grid-autumn.css" disabled />
    <link rel="stylesheet" type="text/css" href="css/component.css" />

		<!--js-->
    <script src="js/modernizr.custom.js"></script>
</head>
<body class="scrollbar" id="style-1">
    <section class="main-section">
        <header class="header">
            <h1>Website</h1>
            <p>Beautiful &amp; interactive<p>
                <nav class="codrops-demos">
                    <a href="#">Home</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact</a>
                </nav>

        </header>
        <div class="isolayer isolayer--scroll1 isolayer--shadow">
            <ul class="grid grid--effect-flip">
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/1.jpg" alt="flower tree" />
                        <span class="grid__title">Lorem</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/2_1.jpg" alt="Eiffel Tower celebration" />
                        <span class="grid__title">ipsum </span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/3.jpg" alt="The woods" />
                        <span class="grid__title">dolor</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/4_2.jpg" alt="Glass Black Apple" />
                        <span class="grid__title">sit</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/1_1.jpg" alt="Website elements" />
                        <span class="grid__title">amet</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/2.jpg" alt="Water droplets" />
                        <span class="grid__title">consectetur</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/3_1.jpg" alt="A Website" />
                        <span class="grid__title">Images</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/4.jpg" alt="A website with progress bars" />
                        <span class="grid__title">from</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/1_2.jpg" alt="Taking a picture of a yellow road in autumn with a smartphone" />
                        <span class="grid__title">Pexels</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/2_2.jpg" alt="A wine glass shattering" />
                        <span class="grid__title">adipiscing </span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/3_2.jpg" alt="Looking through a chain link fence" />
                        <span class="grid__title">elit</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/1_3.jpg" alt="Water droplets" />
                        <span class="grid__title">sed </span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/4_1.jpg" alt="Travel essentials" />
                        <span class="grid__title">eiusmod</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
                        <img class="grid__img layer" src="img/1.jpg" alt="Flower tree" />
                        <span class="grid__title">This</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/2_1.jpg" alt="Eiffel Tower celebration" />
                        <span class="grid__title">code</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/3.jpg" alt="Water droplets" />
                        <span class="grid__title">is copyright</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/4_2.jpg" alt="Glass Black Apple" />
                        <span class="grid__title">free</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/1_1.jpg" alt="Website elements" />
                        <span class="grid__title">Webmart</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/2.jpg" alt="Water droplets" />
                        <span class="grid__title">is</span>
                    </a>
                </li>
                <li class="grid__item">
                    <a class="grid__link">
                        <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy" />
                        <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy" />
												<img class="grid__img layer" src="img/3_1.jpg" alt="A Website" />
                        <span class="grid__title">efficient</span>
                    </a>
                </li>

            </ul>
        </div>
    </section>

    <!--script-->
   
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/dynamics.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/animOnScroll.js"></script>
    <script src="js/main.js"></script>
    <script>
        (function () {
            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            [].slice.call(document.querySelectorAll('.isolayer')).forEach(function (el) {
                new IsoGrid(el, {
                    type: 'scrollable',
                    transform: 'translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(45deg)',
                    stackItemsAnimation: {
                        properties: function (pos) {
                            return {
                                translateZ: (pos + 1) * 50,
                                rotateZ: getRandomInt(-3, 3)
                            };
                        },
                        options: function (pos, itemstotal) {
                            return {
                                type: dynamics.bezier,
                                duration: 500,
                                points: [{ "x": 0, "y": 0, "cp": [{ "x": 0.2, "y": 1 }] }, { "x": 1, "y": 1, "cp": [{ "x": 0.3, "y": 1 }] }],
                            };
                        }
                    },
                    onGridLoaded: function () {
                        classie.add(document.body, 'grid-loaded');
                    }
                });
            });
        })();
    </script>
    <script src="../../Scripts/jquery.min.js"></script>
		<script>
            $(document).ready(function () {
                var links = document.getElementsByTagName('link');
                for (var i = 0; i < links.length; i++) {
                    var a = links[i];
                    if (a.rel.indexOf('style') != -1 && a.id) {
                        a.disabled = true;

                    }
                }
            });

            function switchStyle(sty) {
                var links = document.getElementsByTagName('link');
                for (var i = 0; i < links.length; i++) {
                    var a = links[i];
                    if (a.rel.indexOf('style') != -1 && a.id) {
                        a.disabled = true;
                        if (a.id == sty) {
                            a.disabled = false;
                        }
                    }
                }
            }
		</script>

</body>
</html>
