@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="clearfix"></div>

<!--features page content start -->

<section class="container-fluid sample-container">
    Add stuff here
</section>

<!--features page content end -->
