<!-- The demo page for the navs. Will be displayed in an iframe  inside the index page -->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--seo tags-->
    <title>Nav Examples | Webmart </title>
    <meta name="description" content="Various nav bars that could be included in websites. There are more navs that we can customise to meet your every need.">
    <meta charset="utf-8" />

    <!--stylesheets-->
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/w3.css" rel="stylesheet" />
    <link href="../Content/navs.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />

    <!--js-->
    <script src="../Scripts/jquery.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <!--20160907 SA bootstrap carousel which pauses on hover-->
    <section id="navsCarousel" class="carousel slide" data-ride="carousel" data-interval="1000000000" data-pause="hover">
        <div class="carousel-inner" role="listbox">
            <!--20160907 SA active slide with 3 rows and 3 example navs that are given for showcasing purposes-->
            <div class="item active">
                <div class="container-fluid slide1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="demo-nav" id="ribbon-nav">
                                <div class="ribbon">
                                    <div class="ribbon-content">
                                        <ul id="navigation" class="common-nav-style">
                                            <li><a>Home<span class="visible-xs-inline-block">&nbsp;&nbsp;☰</span></a></li>
                                            <li><a>Projects</a></li>
                                            <li><a>Gallery</a></li>
                                            <li><a>Buy Now</a></li>
                                            <li><a>Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="demo-nav" id="rounded-nav">
                                <nav class="rounded">
                                    <ul class="common-nav-style nav-rounded">
                                        <li><a>Home&nbsp;&nbsp;<span class="visible-xs-inline-block">&nbsp;&nbsp;☰</span></a></li>
                                        <li>
                                            <a>Tutorials</a>
                                            <ul>
                                                <li><a>Photoshop</a></li>
                                                <li><a>Illustrator</a></li>
                                                <li>
                                                    <a>Web Design</a>
                                                    <ul>
                                                        <li><a>HTML</a></li>
                                                        <li><a>CSS</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Articles</a>
                                            <ul>
                                                <li><a>Web Design</a></li>
                                                <li><a>User Experience</a></li>
                                            </ul>
                                        </li>
                                        <li><a>Inspiration</a></li>
                                        <li><a>Contact</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="demo-nav" id="zigzag-nav">

                                <ul class="zz-menu common-nav-style">
                                    <li>
                                        <a>Home&nbsp;&nbsp;<span class="visible-xs-inline">☰</span></a>
                                    </li>
                                    <li>
                                        <a>Products</a>
                                        <ul class="zz-submenu">
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Services</a>
                                        <ul class="zz-submenu">
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Gallery</a>
                                        <ul class="zz-submenu">
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>About Us</a>
                                        <ul class="zz-submenu">
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Contact Us</a>
                                        <ul class="zz-submenu">
                                            <li><a>Submenu item</a></li>
                                            <li><a>Submenu item</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--20160907 SA inactive slide with vertical navbars-->
            <div class="item">
                <div class="container slide2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div id="w3-nav">
                                <ul class="simple-nav common-nav-style">
                                    <li>
                                        <a class="active">
                                            <span class="hidden-xs">Home&nbsp;&nbsp;</span>
                                            <span class="visible-xs-inline">☰</span>
                                        </a>
                                    </li>
                                    <li><a>Services</a></li>
                                    <li><a>Features</a></li>
                                    <li><a>News</a></li>
                                    <li><a>Contact</a></li>
                                    <li><a>About</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <div id="smooth-nav">

                                <ul class="smoothnav common-nav-style">
                                    <li><a class="active">HOME&nbsp;&nbsp;<span class="visible-xs-inline">☰</span></a></li>

                                    <li><a>SERVICES</a></li>
                                    <li><a>PORTFOLIO</a></li>
                                    <li><a>GALLERY</a></li>
                                    <li><a>ABOUT</a></li>
                                    <li><a>CONTACT</a></li>

                                </ul>


                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-4">

                            <div id="vertical1-nav">

                                <ul class="mcd-menu top-gap">
                                    <li>
                                        <a class="active">
                                            <i class="fa fa-home"></i>
                                            <strong>Home</strong>
                                            <small>Main page subtitle</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-envelope-o"></i>
                                            <strong>Contacts</strong>
                                            <small>Get in touch</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-gift"></i>
                                            <strong>Features</strong>
                                            <small>Showcase functions</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-globe"></i>
                                            <strong>News</strong>
                                            <small>Articles, etc</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-comments-o"></i>
                                            <strong>Blog</strong>
                                            <small>Blog page</small>
                                        </a>

                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-picture-o"></i>
                                            <strong>Portfolio</strong>
                                            <small>Projects to show off</small>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-edit"></i>
                                            <strong>About us</strong>
                                            <small>About company</small>
                                        </a>
                                        <ul>
                                            <li><a><i class="fa fa-globe"></i>Mission</a></li>
                                            <li>
                                                <a><i class="fa fa-group"></i>Our Team</a>

                                            </li>
                                            <li><a><i class="fa fa-trophy"></i>Rewards</a></li>
                                            <li><a><i class="fa fa-certificate"></i>Certificates</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--script-->
    <!--20160907 SA hover effect on zz-menu -->
    <script type="text/javascript">
        $('#rounded-nav li:has(ul), #zigzag-nav li:has(ul)').on('mouseover', function () {
            $(this).closest(".demo-nav").addClass('is-hover');
        }).on('mouseout', function () {
            $(this).closest(".demo-nav").removeClass('is-hover');
        });
        //20160907 SA instantiating carousel
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
    <script>
        //20160907 SA adding responsive class to navbars to allow mobile layout style
        $(".common-nav-style").click(function () {
            $(".common-nav-style").not(this).removeClass("responsive");
            $(this).toggleClass("responsive")
        })

    </script>
</body>
</html>